

@media only screen and (max-width: 600px) {
    .hidembl{
    display: none;
}
#smtext{
    font-size: 10px;
}
.main-header.style-one .header-lower .outer-box {
    padding: 0px 20px;
    display: flex;
    align-items: center;
}

.banner-carousel .content-box .btn-box .call-now .inner h3 a {
    display: inline-block;
    color: #222;
font-size: 15px;
}

}
